@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Josefin+Slab:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #eaf2fafa;
}
/* NewsList.css */
/* .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.news-card {
  width: 30%;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.news-image {
  max-width: 100%;
  height: auto;
}

.news-details {
  margin-top: 10px;
}

.news-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-description {
  font-size: 1rem;
}

.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.page-button {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 5px;
  border: 2px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.page-button.active {
  background-color: #142435;
  color: #fff;
  border-color: #142435
}
.search-bar input{
margin: 5px;
border-radius: 5px;
width: 25%;
border:2px solid black;
outline: none;
padding-left: 5px;
}
 .search-bar button{
  border-radius: 5px;
  background-color: rgb(31, 21, 21);
  color: white;
  
  border: none ;
} */
/* Default styles for larger screens */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.news-card {
  width: 30%;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.news-image {
  max-width: 100%;
  height: auto;
}

.news-details {
  margin-top: 10px;
}

.news-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-description {
  font-size: 1rem;
}

.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.page-button {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 5px;
  border: 2px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.page-button.active {
  background-color: #142435;
  color: #fff;
  border-color: #142435;
}

/* Responsive styles for all mobile devices */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .news-card {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .news-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .news-description {
    font-size: 0.9rem;
  }

  .pagination {
    margin: 10px;
  }

  .page-button {
    padding: 3px 8px;
    margin: 0 3px;
    font-size: 0.8rem;
  }

  /* .search-bar input {
    width: 100%;
  } */

 }

 .search-bar input{
  margin: 5px;
  border-radius: 5px;
  width: 25%;
  border:2px solid black;
  outline: none;
  padding-left: 5px;
  }
   .search-bar button{
    border-radius: 5px;
    background-color: rgb(31, 21, 21);
    color: white;
    border: none ;
  }
